# Symlink
sail_lib

# C artifacts
c_build/*
rdna3_emu

# Z3 artifacts
z3_problems

# Build artifacts
generated/*

# Environment files
.direnv
.nix-bin/

# ASM files
tests/bin
tests/elf

# Generated logs
outputs/